[package]
name = "strolle"
version = "0.1.0"
edition = "2021"

[dependencies]
# Workspace
strolle-gpu = { path = "../strolle-gpu" }

# Crates.io
bytemuck = "1.13.1"
crossbeam = "0.8.2"
derivative = "2.2.0"
glam = "0.24"
guillotiere = "0.6.2"
humantime = { version = "2.1.0", optional = true }
image = { version = "0.24.6", default-features = false, features = ["png"] }
log = "0.4.18"
rand = "0.8.5"
spirv-std = { git = "https://github.com/EmbarkStudios/rust-gpu" }
wgpu = { version = "0.15", features = ["spirv"] }

[features]
metrics = ["humantime"]
